****************************************
Report : constraint
        -all_violators
Design : vlsu_cam_top
Version: U-2022.12
Date   : Sun Jul 16 21:33:47 2023
****************************************

   late_timing
   -----------

Information: Timer using 'PrimeTime Delay Calculation, SI, Timing Window Analysis'. (TIM-050)
Endpoint                         Path Delay     Path Required       CRP    Slack Group    Scenario
----------------------------------------------------------------------------------------------------------
No paths.

   early_timing
   -----------

Information: Timer using 'PrimeTime Delay Calculation, SI, Timing Window Analysis'. (TIM-050)
Endpoint                         Path Delay     Path Required       CRP    Slack Group    Scenario
----------------------------------------------------------------------------------------------------------
No paths.

   Mode: func_mode Corner: slow_corner
   Scenario: slow
   max_transition                                                              
                             Required        Actual                            
   Net                      Transition     Transition        Slack  Violation  
  ---------------------------------------------------------------------------
   bhvl_model_gen.bhvl_model_gen_single.u_cam_mem/HFSNET_36
                                0.20           0.20          -0.00  (VIOLATED) 
     PIN : bhvl_model_gen.bhvl_model_gen_single.u_cam_mem/U1048/A2
                                0.20           0.20          -0.00  (VIOLATED) 
     PIN : bhvl_model_gen.bhvl_model_gen_single.u_cam_mem/U1023/A2
                                0.20           0.20          -0.00  (VIOLATED) 
     PIN : bhvl_model_gen.bhvl_model_gen_single.u_cam_mem/U332/A2
                                0.20           0.20          -0.00  (VIOLATED) 
     PIN : bhvl_model_gen.bhvl_model_gen_single.u_cam_mem/U1554/A2
                                0.20           0.20          -0.00  (VIOLATED) 
     PIN : bhvl_model_gen.bhvl_model_gen_single.u_cam_mem/U1400/A2
                                0.20           0.20          -0.00  (VIOLATED) 
     PIN : bhvl_model_gen.bhvl_model_gen_single.u_cam_mem/U443/A2
                                0.20           0.20          -0.00  (VIOLATED) 
     PIN : bhvl_model_gen.bhvl_model_gen_single.u_cam_mem/U1147/A2
                                0.20           0.20          -0.00  (VIOLATED) 
     PIN : bhvl_model_gen.bhvl_model_gen_single.u_cam_mem/U1635/A2
                                0.20           0.20          -0.00  (VIOLATED) 
     PIN : bhvl_model_gen.bhvl_model_gen_single.u_cam_mem/U1608/A2
                                0.20           0.20          -0.00  (VIOLATED) 
     PIN : bhvl_model_gen.bhvl_model_gen_single.u_cam_mem/U651/A2
                                0.20           0.20          -0.00  (VIOLATED) 

  ---------------------------------------------------------------------------
   Number of max_transition violation(s): 1

   Mode: func_mode Corner: slow_corner
   Scenario: slow
  ---------------------------------------------------------------------------
   Number of max_capacitance violation(s): 0


   Mode: func_mode Corner: slow_corner
   Scenario: slow
  ---------------------------------------------------------------------------
   Number of min_capacitance violation(s): 0

  Mode: func_mode
  Corner: slow_corner
  Scenario: slow

  ---------------------------------------------------------------------------
   Number of min_pulse_width violation(s): 0
   Total number of violation(s): 1
1
